<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casting Company Logged In</title>
</head>
<body>
    <p>Now try an endpoint out: <br>
        GET: /actors /actors/&lt;id&gt; /movies /movies/&lt;id&gt; <br>
        POST: /actors* /movies** <br>
        PATCH: /actors/&lt;id&gt;* /movies/&lt;id&gt;* <br>
        DELETE: /actors/&lt;id&gt;* /movies/&lt;id&gt;**
    </p>
    <footer><small>* Casting Director or Executive Producer Credentials Required <br> 
    ** Executive Producer Credentials Required
    </small></footer>
</body>
</html>